/* LOAD ROBOTO FONT */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* Add Reset */
* {

    box-sizing: border-box;

     /* Ensures padding and borders are included within the element's 
    specified width and height, making layout calculations more 
    predictable. */

    margin: 0;
    padding: 0;

    /* Remove margin & padding */

}


body{

    font-family: 'Roboto', sans-serif;
    background: lightskyblue url('bg.jpg'); /* Set background color & image */
    color: #fff;
    display: flex; /* Align items */
    flex-direction: column; /* Align vertically */
    justify-content: flex-end; /* Push items to bottom */
    height: 100vh; 
}

.container{

    max-width: 1100px;
    margin: 0 auto; /* Move to center */
    overflow: auto;

    /* 
        When you set overflow: auto; on an element, it means:

        The browser will add scrollbars only if needed—that is, only if the content 
        overflows the element’s box.
        If the content fits within the element’s box, no scrollbars will appear.
    
    */
}


/* Style for Header */

header{

    /* Move Header to Center of Page */
    flex: 1;    
    height: 100%;
    display: flex; /* move to middle both x & y directions */
    align-items: center;
    justify-content: center;


    /*  flex: 1; 
        is a shorthand for flex-grow: 1;, flex-shrink: 1;, and flex-basis: 0%. 
        
        It essentially means:

        flex-grow: 1;: 
        The header will expand to take up any available space in the flex container.

        flex-shrink: 1;: 
        The header will shrink if necessary, to prevent overflow if there’s not enough space.

        flex-basis: 0%;: 
        The initial size of the header is calculated as 0% of the container, 
        meaning it will only take up space proportional to the space left over 
        after other items and paddings.

        If there are multiple flex items with flex: 1; in the container, 
        they will each take an equal share of the available space. 
        If header is the only item with flex: 1;, it will stretch to 
        fill the available space.
    
     */

}

header h1{

    font-size: 60px;

}

/* Style for Counters */

.counters {

    background: #0f479a;
    color:#fff;
    padding: 40px 20px; /* Top-Bottom & L-R */
    border-top: 3px lightskyblue solid;
}

.counters .container {

    display: grid; /* Set as parent to grid items */ 
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr); /* 4 even columns */ 
    text-align: center;

}

/* Style Icons */
.counters i {

    color: lightskyblue;
    margin-bottom: 5px;

}

/* Style label & number text */
.counters .counter{

    font-size: 45px;
    margin: 10px 0; /* Top-Bottom 10px margin */

}


/* Make Responsive */

/* For screens below 700px width */
@media(max-width: 700px){

    .counters .container {

        /* Limit to 2 Columns */
        grid-template-columns: repeat(2, 1fr);

    }

    /* Style bottom borders of 1st & 2nd counter divs */
    .counters .container > div:nth-of-type(1), .counters .container > div:nth-of-type(2){
        border-bottom: 1px lightskyblue solid;
        padding-bottom: 20px;
    }

}